<h1>{{'Curator.CreateForm.CaptionOperation' | translate}}</h1>
<h4>{{'Curator.CreateForm.CaptionModel' | translate}}</h4>
<hr/>

<div class="row">
  <div class="col-md-4">
    <form [formGroup]="this.form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="surname">{{'Curator.CreateForm.Surname' | translate}}</label>
        <input id="surname" type="text" class="form-control" formControlName="surname"/>
        <div *ngIf="form.get('surname')?.invalid && form.get('surname')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'surname')">
            {{'Curator.Error.SurnameRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'surname')">
            {{'Curator.Error.SurnameMaximumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="name">{{'Curator.CreateForm.Name' | translate}}</label>
        <input id="name" name="name" type="text" class="form-control" formControlName="name"/>
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'name')">
            {{'Curator.Error.NameRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'name')">
            {{'Curator.Error.NameMaximumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="doublename">{{'Curator.CreateForm.Doublename' | translate}}</label>
        <input id="doublename" name="doublename" type="text" class="form-control" formControlName="doublename"/>
        <div *ngIf="form.get('doublename')?.invalid && form.get('doublename')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'doublename')">
            {{'Curator.Error.DoublenameRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'doublename')">
            {{'Curator.Error.DoublenameMaximumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="phone">{{'Curator.CreateForm.Phone' | translate}}</label>
        <input id="phone" name="phone" class="form-control" formControlName="phone"/>
        <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'phone')">
            {{'Curator.Error.PhoneRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('pattern', 'phone')">
            {{'Curator.Error.PhonePattern' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group mt-3 mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="this.form.invalid">{{'Curator.CreateForm.CaptionOperation' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<div>
  <a routerLink="/curator/index" class="h6">{{'Curator.CreateForm.BackToList' | translate}}</a>
</div>
