<h1>{{'Faculty.List' | translate}}</h1>

<div class="container mb-2">
  <a *ngIf="this.authService.isAdmin" routerLink="/faculty/create" class="btn btn-primary">{{'Faculty.Create' | translate}}</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">{{'Faculty.ColNumber' | translate}}</th>
    <th scope="col">{{'Faculty.ColStartDateEducation' | translate}}</th>
    <th scope="col">{{'Faculty.ColCountYearEducation' | translate}}</th>
    <th scope="col">{{'Faculty.ColStudent' | translate}}</th>
    <th scope="col">{{'Faculty.ColGroup' | translate}}</th>
    <th scope="col">{{'Faculty.ColCurator' | translate}}</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let faculty of faculties; index as i">
    <td>{{i + 1}}</td>
    <td>{{faculty.startDateEducation | date}}</td>
    <td>{{faculty.countYearEducation}}</td>
    <td>{{faculty.studentSurname}}</td>
    <td>{{faculty.groupName}}</td>
    <td>{{faculty.curatorSurname}}</td>
    <td>
      <a routerLink="/faculty/delete/{{faculty.id}}" class="btn btn-primary me-2">{{'Faculty.Delete' | translate}}</a>
      <a routerLink="/faculty/edit/{{faculty.id}}" class="btn btn-primary">{{'Faculty.Edit' | translate}}</a>
    </td>
  </tr>
  </tbody>
</table>
