<h1>List faculties</h1>

<div class="container mb-2">
  <a *ngIf="this.authService.isAdmin" routerLink="/faculty/create" class="btn btn-primary">Create</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Number</th>
    <th scope="col">Start date education</th>
    <th scope="col">Count year education</th>
    <th scope="col">Student</th>
    <th scope="col">Group</th>
    <th scope="col">Student</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let faculty of faculties; index as i">
    <td>{{i + 1}}</td>
    <td>{{faculty.startDateEducation | date}}</td>
    <td>{{faculty.countYearEducation}}</td>
    <td>{{faculty.studentSurname}}</td>
    <td>{{faculty.groupName}}</td>
    <td>{{faculty.curatorSurname}}</td>
    <td>
      <a class="btn btn-primary me-2" (click)="delete(faculty.id!)">Delete</a>
      <a routerLink="/faculty/edit/{{faculty.id}}" class="btn btn-primary">Edit</a>
    </td>
  </tr>
  </tbody>
</table>
