<h1>{{'Group.EditForm.CaptionOperation' | translate}}</h1>
<h4>{{'Group.EditForm.CaptionModel' | translate}}</h4>
<hr/>

<div class="row">
  <div class="col-md-4">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="name">{{'Group.EditForm.Name' | translate}}</label>
        <input id="name" type="text" class="form-control" formControlName="name"/>
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'name')">
            {{'Group.Error.NameRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'name')">
            {{'Group.Error.NameMaximumLength' | translate}}
          </small>
        </div>
      </div>

      <div *ngIf="group" class="form-group">
        <label for="specialization">{{'Group.EditForm.Specialization' | translate}}</label>
        <select *ngIf="specializations" id="specialization" class="form-select" formControlName="specializationId" [(ngModel)]="group.specializationId">
          <option *ngFor="let specialization of specializations" value="{{specialization.id}}">{{specialization.name}}</option>
        </select>
        <div *ngIf="form.get('specializationId')?.invalid && form.get('specializationId')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'specializationId')">
            {{'Group.Error.SpecializationRequired' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary mt-3 mb-3">{{'Group.EditForm.CaptionOperation' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<div>
  <a routerLink="/group/index" class="h6">{{'Group.EditForm.BackToList' | translate}}</a>
</div>
