<h1>{{'Curator.List' | translate}}</h1>

<div class="container mb-2">
  <a *ngIf="this.authService.isAdmin" routerLink="/curator/create" class="btn btn-primary">{{'Curator.Create' | translate}}</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">{{'Curator.ColNumber' | translate}}</th>
    <th scope="col">{{'Curator.ColSurname' | translate}}</th>
    <th scope="col">{{'Curator.ColName' | translate}}</th>
    <th scope="col">{{'Curator.ColDoublename' | translate}}</th>
    <th scope="col">{{'Curator.ColPhone' | translate}}</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let curator of curators; index as i">
    <td>{{i + 1}}</td>
    <td>{{curator.surname}}</td>
    <td>{{curator.name}}</td>
    <td>{{curator.doublename}}</td>
    <td>{{curator.phone}}</td>
    <td>
      <a routerLink="/curator/delete/{{curator.id}}" class="btn btn-primary me-2">{{'Curator.Delete' | translate}}</a>
      <a routerLink="/curator/edit/{{curator.id}}" class="btn btn-primary">{{'Curator.Edit' | translate}}</a>
    </td>
  </tr>
  </tbody>
</table>
