<h1>List specializations</h1>

<div class="container mb-2">
  <a *ngIf="this.authService.isAdmin" routerLink="/specialization/create" class="btn btn-primary">Create</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Number</th>
    <th scope="col">Name</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let specialization of specializations; index as i">
    <td>{{i + 1}}</td>
    <td>{{specialization.name}}</td>
    <td>
      <button class="btn btn-primary me-2" (click)="delete(specialization.id!)">Delete</button>
      <a href="/specialization/edit/{{specialization.id}}" class="btn btn-primary">Edit</a>
    </td>
  </tr>
  </tbody>
</table>
