<h1>{{'Specialization.List' | translate}}</h1>

<div class="container mb-2">
  <a *ngIf="this.authService.isAdmin" routerLink="/specialization/create" class="btn btn-primary">{{'Specialization.Create' | translate}}</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">{{'Specialization.ColNumber' | translate}}</th>
    <th scope="col">{{'Specialization.ColName' | translate}}</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let specialization of specializations; index as i">
    <td>{{i + 1}}</td>
    <td>{{specialization.name}}</td>
    <td>
      <a routerLink="/specialization/delete/{{specialization.id}}" class="btn btn-primary me-2">{{'Specialization.Delete' | translate}}</a>
      <a routerLink="/specialization/edit/{{specialization.id}}" class="btn btn-primary">{{'Specialization.Edit' | translate}}</a>
    </td>
  </tr>
  </tbody>
</table>
