<h1>{{'User.List' | translate}}</h1>

<div class="container mb-3">
  <a routerLink="/user/create" class="btn btn-primary">{{'User.Create' | translate}}</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">{{'User.ColNumber' | translate}}</th>
    <th scope="col">{{'User.ColLogin' | translate}}</th>
    <th scope="col">{{'User.ColRoles' | translate}}</th>
    <th scope="col">{{'User.ColBirthday' | translate}}</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let user of users; index as i">
    <td>{{i + 1}}</td>
    <td>{{user.login}}</td>
    <td>{{user.roles}}</td>
    <td>{{user.birthday | date}}</td>
    <td>
      <a routerLink="/user/edit-password/{{user.id}}" class="btn btn-warning text-white">{{'User.EditPassword' | translate}}</a>
      <button class="btn btn-danger ms-3 me-3" (click)="delete(user.id!)">{{'User.Delete' | translate}}</button>
      <a routerLink="/user/edit/{{user.id}}" class="btn btn-success">{{'User.Edit' | translate}}</a>
    </td>
  </tr>
  </tbody>
</table>
