<h1>{{'User.EditPasswordForm.CaptionOperation' | translate}}</h1>
<h4>{{'User.EditPasswordForm.CaptionModel' | translate}}</h4>
<hr/>

<div class="row">
  <div class="col-md-4">
    <form [formGroup]="this.form" (ngSubmit)="submit()">
      <div class="form-group">
        <label class="col-form-label">{{'User.EditPasswordForm.NewPassword' | translate}}</label>
        <input class="form-control" formControlName="newPassword"/>
        <div *ngIf="form.get('newPassword')?.invalid && form.get('newPassword')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'newPassword')">
            {{'User.Error.PasswordRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'newPassword')">
            {{'User.Error.PasswordMaximumLength' | translate}}
          </small>
          <small *ngIf="this.form.hasError('minlength', 'newPassword')">
            {{'User.Error.PasswordMinimumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group mt-2 mb-3">
        <button type="submit" class="btn btn-primary">{{'User.EditPasswordForm.CaptionOperation' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<div>
  <a routerLink="/user/index" class="h6">{{'User.EditPasswordForm.BackToList' | translate}}</a>
</div>
