<h1>{{'User.EditForm.CaptionOperation' | translate}}</h1>
<h4>{{'User.EditForm.CaptionModel' | translate}}</h4>
<hr/>

<div class="row">
  <div class="col-md-4">
    <form [formGroup]="this.form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="login">{{'User.EditForm.Login' | translate}}</label>
        <input id="login" type="text" class="form-control" formControlName="login"/>
        <div *ngIf="form.get('login')?.invalid && form.get('login')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'login')">
            {{'User.Error.LoginRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'login')">
            {{'User.Error.LoginMaximumLength' | translate}}
          </small>
          <small *ngIf="this.form.hasError('minlength', 'login')">
            {{'User.Error.LoginMinimumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group" *ngIf="roles && user">
        <label for="roles">{{'User.EditForm.Roles' | translate}}</label>
        <ul id="roles" class="list-group">
          <li class="list-group-item" *ngFor="let role of roles; let i = index">
            <div class="form-check">
              <input id="{{role}}" type="checkbox" [value]="role" class="form-check-input" (change)="onCheckChange($event)" [checked]="user.roles.includes(role)" />
              <label for="{{role}}" class="form-check-label">{{role}}</label>
            </div>
          </li>
        </ul>
        <div *ngIf="form.get('roles')?.invalid" class="text-danger" >
          <small *ngIf="this.form.hasError('HasRoleValidator', 'roles')">
            {{'User.Error.RoleRequired' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group" *ngIf="user">
        <label for="birthday">{{'User.EditForm.Birthday' | translate}}</label>
        <input id="birthday" type="date" [ngModel]="user.birthday | date:'yyyy-MM-dd'" class="form-control" formControlName="birthday"/>
        <div *ngIf="form.get('birthday')?.invalid && form.get('birthday')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'birthday')">
            {{'User.Error.BirthdayRequired' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <div *ngIf="error$ | async as message" class="text-danger" >
          <small>
            {{message | translate}}
          </small>
        </div>
      </div>

      <div class="form-group mt-3 mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="this.form.invalid">{{'User.EditForm.CaptionOperation' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<div>
  <a routerLink="/user/index" class="h6">{{'User.EditForm.BackToList' | translate}}</a>
</div>
