@model Faculty.DataAccessLayer.Models.Faculty

@{
    ViewData["Title"] = "Faculty - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<h4>Faculty</h4>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Faculty">
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="StartDateEducation"></label>
                <input asp-for="StartDateEducation" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                <span asp-validation-for="StartDateEducation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountYearEducation"></label>
                <input asp-for="CountYearEducation" class="form-control" />
                <span asp-validation-for="CountYearEducation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StudentId"></label>
                <select asp-for="StudentId" asp-items="ViewBag.Students" class="custom-select"></select>
            </div>

            <div class="form-group">
                <label asp-for="CuratorId"></label>
                <select asp-for="CuratorId" asp-items="ViewBag.Curators" class="custom-select"></select>
            </div>

            <div class="form-group">
                <label asp-for="GroupId"></label>
                <select asp-for="GroupId" asp-items="ViewBag.Groups" class="custom-select"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
