<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse d-flex align-items-center justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav w-50 ms-5">
          <a href="#" class="navbar-brand h1 text-white">Faculty</a>
          <a href="#" class="navbar-brand h1 text-white">Group</a>
          <a href="#" class="navbar-brand h1 text-white">Specialization</a>
          <a href="#" class="navbar-brand h1 text-white">Student</a>
          <a href="#" class="navbar-brand h1 text-white">Curator</a>
        </div>

        <div class="w-50 d-flex align-items-center justify-content-center">
          <div class="w-25">
            <form method="post">
              <select class="form-select">
                <option>test_1</option>
                <option>test_2</option>
                <option>test_3</option>
              </select>
            </form>
          </div>

          <a href="#" class="navbar-brand h1 text-white ms-5">Login</a>
        </div>
      </div>
    </div>
  </nav>
</header>
