@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<div class="d-flex justify-content-center align-items-center h-50">
    <div class="align-middle">
        <h1 class="font-weight-normal">@_localizer["ErrorMessage"]</h1>
    </div>
</div>
