<h1>{{'Group.List' | translate}}</h1>

<div class="container mb-2">
  <a *ngIf="this.authService.isAdmin" routerLink="/group/create" class="btn btn-primary">{{'Group.Create' | translate}}</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">{{'Group.ColNumber' | translate}}</th>
    <th scope="col">{{'Group.ColName' | translate}}</th>
    <th scope="col">{{'Group.ColSpecialization' | translate}}</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let group of groups; index as i">
    <td>{{i + 1}}</td>
    <td>{{group.name}}</td>
    <td>{{group.specializationName}}</td>
    <td>
      <a routerLink="/group/delete/{{group.id}}" class="btn btn-primary me-2">{{'Group.Delete' | translate}}</a>
      <a routerLink="/group/edit/{{group.id}}" class="btn btn-primary">{{'Group.Edit' | translate}}</a>
    </td>
  </tr>
  </tbody>
</table>
