<h1>{{'Login.CaptionOperation' | translate}}</h1>
<hr/>

<div class="row">
  <div class="col-md-4">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="login" class="col-form-label">{{'Login.Login' | translate}}</label>
        <input id="login" name="login" class="form-control" formControlName="login"/>
        <div *ngIf="form.get('login')?.invalid && form.get('login')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'login')">
            {{'Login.Error.LoginRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'login')">
            {{'Login.Error.LoginMaximumLength' | translate}}
          </small>
          <small *ngIf="this.form.hasError('minlength', 'login')">
            {{'Login.Error.LoginMinimumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-form-label">{{'Login.Password' | translate}}</label>
        <input id="password" name="password" class="form-control" formControlName="password"/>
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'password')">
            {{'Login.Error.PasswordRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'password')">
            {{'Login.Error.PasswordMaximumLength' | translate}}
          </small>
          <small *ngIf="this.form.hasError('minlength', 'password')">
            {{'Login.Error.PasswordMinimumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <div *ngIf="error$ | async as message" class="text-danger" >
          <small>
            {{message | translate}}
          </small>
        </div>
      </div>

      <div class="form-group mt-2 mb-2">
        <button type="submit" class="btn btn-primary">{{'Login.CaptionOperation' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<div class="mb-4">
  <a routerLink="/register" class="h6">{{'Login.CreateAccount' | translate}}</a>
</div>

<div>
  <a routerLink="/faculty/index" class="h6">{{'Login.BackToList' | translate}}</a>
</div>
