<h1>{{'Specialization.CreateForm.CaptionOperation' | translate}}</h1>
<h4>{{'Specialization.CreateForm.CaptionModel' | translate}}</h4>
<hr/>

<div class="row">
  <div class="col-md-4">
    <form [formGroup]="this.form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="name">{{'Specialization.CreateForm.Name' | translate}}</label>
        <input id="name" name="name" type="text" class="form-control" formControlName="name"/>
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'name')">
            {{'Specialization.Error.NameRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'name')">
            {{'Specialization.Error.NameMaximumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group mt-3 mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="this.form.invalid">{{'Specialization.CreateForm.CaptionOperation' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<div>
  <a routerLink="/specialization/index" class="h6">{{'Specialization.CreateForm.BackToList' | translate}}</a>
</div>
