<h1>{{'Student.List' | translate}}</h1>

<div class="container mb-2">
  <a *ngIf="this.authService.isAdmin" routerLink="/student/create" class="btn btn-primary">{{'Student.Create' | translate}}</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">{{'Student.ColNumber' | translate}}</th>
    <th scope="col">{{'Student.ColSurname' | translate}}</th>
    <th scope="col">{{'Student.ColName' | translate}}</th>
    <th scope="col">{{'Student.ColDoublename' | translate}}</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let student of students; index as i">
    <td>{{i + 1}}</td>
    <td>{{student.surname}}</td>
    <td>{{student.name}}</td>
    <td>{{student.doublename}}</td>
    <td>
      <a routerLink="/student/delete/{{student.id}}" class="btn btn-primary me-2">{{'Student.Delete' | translate}}</a>
      <a routerLink="/student/edit/{{student.id}}" class="btn btn-primary">{{'Student.Edit' | translate}}</a>
    </td>
  </tr>
  </tbody>
</table>
