<h1>{{'Student.CreateForm.CaptionOperation' | translate}}</h1>
<h4>{{'Student.CreateForm.CaptionModel' | translate}}</h4>
<hr/>

<div class="row">
  <div class="col-md-4">
    <form [formGroup]="this.form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="surname">{{'Student.CreateForm.Surname' | translate}}</label>
        <input id="surname" type="text" class="form-control" formControlName="surname"/>
        <div *ngIf="form.get('surname')?.invalid && form.get('surname')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'surname')">
            {{'Student.Error.SurnameRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'surname')">
            {{'Student.Error.SurnameMaximumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="name">{{'Student.CreateForm.Name' | translate}}</label>
        <input id="name" name="name" type="text" class="form-control" formControlName="name"/>
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'name')">
            {{'Student.Error.NameRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'name')">
            {{'Student.Error.NameMaximumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="doublename">Doublename</label>
        <input id="doublename" name="doublename" type="text" class="form-control" formControlName="doublename"/>
        <div *ngIf="form.get('doublename')?.invalid && form.get('doublename')?.touched" class="text-danger" >
          <small *ngIf="this.form.hasError('required', 'doublename')">
            {{'Student.Error.DoublenameRequired' | translate}}
          </small>
          <small *ngIf="this.form.hasError('maxlength', 'doublename')">
            {{'Student.Error.DoublenameMaximumLength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group mt-3 mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="this.form.invalid">{{'Student.CreateForm.CaptionOperation' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<div>
  <a routerLink="/student/index" class="h6">{{'Student.CreateForm.BackToList' | translate}}</a>
</div>
